.Container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    padding: 50px;
    align-items: center;
    /* justify-content: center; */
    /* justify-items: center; */
}

.ContainerPage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    /* height: 10px; */
}